.top_board_big{
  position: relative;
  width: 100%;
  /* background-color: #d1e2f7; */
  max-height: 450px;
  font-family: 'Paperlogy';
}
.top_board_big .back{
  display: flex;
  justify-content: center;
}
.top_board_big .background{
  overflow-x: hidden;
  margin: auto;
  height: 100%;
}
.top_board_big .img_box{
  position: absolute;
  /* left: calc(50% - 350px); */
  top: 15%;
  left: 1%;
}
.top_board_big .top30{
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
}
.top_board_big.pack .img_box{
  width: 55%;
  top: 25%;
  left: 47%;
  transform: translateX(-50%);
}
.top_board_big .img_box img{
  width: 100%;
}
.top_board_big .title{
  position: absolute;
  /* width: 100%; */
  height: 100%;
  bottom: 0; top: 0; right: 0; left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top_board_big .game{
  position: absolute;
  /* width: 100%; */
  height: 100%;
  bottom: 0; top: 0; right: 0; left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top_board_big .gift{
  position: absolute;
  bottom: -15%;
  right: -10%;
}
.top_board_big .rullet{
  position: absolute;
  bottom: -28%;
  right: 3%;
  width: 45%;
}
.top_board_big .rullet img{
  width: 100%;
}
.top_board_big .rull_btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  cursor: pointer;
  transition: .3s;
}
.top_board_big .rull_btn:hover{
  transform: translate(-50%, -50%) scale(1.05);
}
.top_board_big .pin{
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -25%);
  width: 15%;
}

/* game_lull */
.game_lull{
  display: grid;
  grid-template-columns:1fr 1fr 1fr; 
  gap: 2%;
  padding: calc(var(--padding)*15) 0 calc(var(--padding)*5);
  border-bottom: 1px solid var(--grey3);
}
.game_lull li{
  background-color: #F2F7FF;
  border-radius: 20px;
  text-align: center;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.game_lull li h2{
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1em;
  padding-bottom: calc(var(--padding)*2);
}
.game_lull li p{
  font-size: 1.15em;
  line-height: 1.3em;
}
.winner, .warning{
  padding: calc(var(--padding)*5) 0;
  border-bottom: 1px solid var(--grey3);
}
.winner h2, .warning h2{
  font-size: 1.6em;
  line-height: 1em;
  font-weight: 600;
  padding-bottom: calc(var(--padding)*2.5);
}
.winner_list li, .warning li{
  padding: 5px 0;
}
.warning li::before{
  content: '-';
  padding-right: 3px;
}
.tab_fin{
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-top: calc(var(--padding)*10);
}
.tab_fin .title{
  padding-bottom: calc(var(--padding)*2.5);
}
.tab_fin .data{
  font-size: 0.85em;
}
.tab_fin h2{
  font-size: 1.6em;
  line-height: 1em;
  font-weight: 600;
}
.tab_fin .rank_item h2{
  padding-bottom: calc(var(--padding)*2.5);
}
.tab_fin .del{
  width: 50%;
}
.tab_fin .sel{
  width: 45%;
}
.winner_img{
  width: 100%;
  padding-bottom: calc(var(--padding)*1.5);
}
.winner_img img{
  width: 100%;
}
.reward_list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: calc(var(--padding)*2);
}
.reward_list li{
  font-size: 0.85em;
  line-height: 1.4;
}
.reward_list li span{
  padding: 6px;
  width: 60px;
  display: inline-block;
  background: #F8F6F7;
  border-radius: 6px;
  text-align: center;
}
.rank_item .ev_tip{
  margin-top: auto;
  font-size: 0.85em;
  line-height: 1.3em;
}
.tab_fin .rank_list{
  font-size: 1rem;
  background: white;
}
.tab_fin .rank_list li:not(:first-child){
  background-color: #F8F6F7;
}
.spon_list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 20px;
}
.spon_list li{
  max-width: 135px;
}
.spon_list img{
  width: 100%;
}