.company{
  padding-bottom: calc(var(--padding)*6);
}
.company .title{
  padding-bottom: calc(var(--padding)*1.5);
}
.company .company_list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-bottom: calc(var(--padding)*4);
}
.company .company_list li{
  border-radius: 6px;
  border: 1px solid var(--border);
  height: 270px;
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.company .company_list li .img_box img{
  width: 100%;
}
.company .company_list li .bot{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.company .company_list li .bot .like_rt{
  color: var(--point_blue);
  display: flex;
  align-items: center;
  gap: 3px;
}
.company .company_list li .img_box{
  cursor: pointer;
}
.like_btn{
  margin-left: auto;
  border-radius: 100px;
  border: 2px solid #A1A1A1;
  font-size: 1.35em;
  color: #A1A1A1;
  padding: 12px 20px;
  font-weight: 600;
  transition: .3s;
  white-space: nowrap;
  cursor: pointer;
}
.like_btn span{
  font-size: 1.15em;
}
.like_btn.active{
  border: 2px solid var(--point_blue);
  background-color: var(--point_blue);
  color: var(--white);
}

/* premium_view */
.premium_view .infor{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}
.premium_view .top_title{
  display: flex;
  gap: 2%;
  padding-bottom: calc(var(--padding)*3.5);
  border-bottom: 1px solid var(--border);
}
.premium_view .top_title .img_box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  max-width: 350px;
  width: 100%;
}
.premium_view .top_title .img_box img{
  max-width: 100%;
  max-height: 100%;
}
.premium_view .top_title .infor h2{
  padding-bottom: calc(var(--padding)*1.5);
  line-height: 1.2em;
}
.premium_view .top_title .infor h2 span{
  display: block;
}
.premium_view .top_title .infor h3{
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.1em;
}
.premium_view .top_title .data{
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: auto;
}
.premium_view .top_title .data .href_link{
  display: block;
  font-size: 1.2em;
  line-height: 1em;
  border-radius: 100px;
  padding: 10px 16px;
  background-color: #A1A1A1;
  color: white;
  transition: .3s;
}
.premium_view .top_title .data .href_link:hover{
  background-color: black;
}
.premium_view .top_title .data_list{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  width: 100%;
  gap: 5px;
}
.premium_view .top_title .data_list li{
  display: flex;
  align-items: center;
}
.premium_view .top_title .data_list li .del{
  flex: 1;
  color: var(--grey3);
}
.premium_view .top_title .data_list li .sel{
  flex: 5;
}
.premium_view .premium_contet{
  padding: calc(var(--padding)*4) 0;
  overflow: hidden;
}
.premium_view .premium_contet h2{
  padding-bottom: calc(var(--padding)*2.5);
}
.premium_view .premium_contet .swiper_single{
  padding-bottom: calc(var(--padding)*3);
}
.premium_view .premium_contet li.swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
}
.premium_view .premium_contet li img, .premium_view .premium_contet li video{
  max-width: 100%;
  display: block;
}
[class^="quest"]{
  padding-bottom: calc(var(--padding)*3);
  border-bottom: 1px solid var(--border);
}
[class^="quest"] h2{
  padding-bottom: calc(var(--padding)*2);
}
.quest_a .play{
  display: flex;
  border: 3px solid red;
  border-radius: 15px;
  overflow: hidden;
  gap: 2%;
  margin-bottom: calc(var(--padding)*2);
}
.quest_a .play .del{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quest_a .play .del .img_box{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 200px;
  max-width: 350px;
}
.quest_a .play .del .img_box img{
  max-width: 100%;
}
.quest_a .play .sel{
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
  word-break: keep-all;
  padding: 2% 0;
}
.quest_a .play .qna{
  font-size: 1.7em;
  line-height: 1.1em;
  font-weight: 700;
  color: red;
}
.quest_a .play .qnq{
  font-size: 1.3em;
  line-height: 1.2em;
  font-weight: 500;
}
.quest_a .play .qnq span{
  color: red;
  font-size: 1.2em;
  font-weight: 700;
}
.quest_btn{
  font-size: 1.5em;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 1%;
}
.quest_btn li{
  cursor: pointer;
  background-color: red;
  padding: 14px 24px;
  border-radius: 100px;
}