main{
  overflow: hidden;
}
.step_1{
  position: relative;
  height: 100vh;
  background-color: black;
  color: white;
  flex-flow: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.step_1::before{
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5vh;
  width: 100%;
  background-color: white;
  border-radius: 1000px 1000px 0 0;
  z-index: 3;
}
.step_1 .all_bg{
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step_1 .all_bg img{
  max-width: 2560px;
}
.step_1 .posi{
  position: relative;
  z-index: 2;
}
.step_1 .posi .textq{
  margin: 0 auto;
}
.step_3{
  height: 100vh;
}
.step_1 .textq{
  width: 80%;
}
.depth_a .h2q,
.depth_b .title .h2q,
.depth_c .h2q{
  font-size: clamp(35px, 4vw, 55px);
  border-bottom: 1px solid var(--border);
  margin-bottom: calc(var(--padding)*3);
  display: inline-block;
}
.depth_a, .depth_c{
  padding: 0 0 calc(var(--padding)*30);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
  /* padding-right: 2%; */
}
.dsp .depth_a, .dsp .depth_c{
  padding-left: 2%;
  padding-right: 0%;
}
.depth_d{
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  padding: 0 2% calc(var(--padding)*25);
}
.depth_e{
  padding-bottom: calc(var(--padding)*25);
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.depth_a .del, .depth_c .del{
  position: relative;
  width: 50%;
}
.depth_a .del .img_box img, .depth_c .del .img_box img{
  width: 100%;
}
.dsp .depth_a .del .img_box img, .dsp .depth_c .del .img_box img{
  position: relative;
  width: 100%;
}
[class^="depth"] .h3q{
  font-weight: 700;
}
.depth_a .del .tip{
  position: absolute;
  left: 0;
  top: -15px;
  border-radius: 0 100px 100px 0;
  background-color: #D90000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 5%;
  font-size: clamp(10px, 2vw, 16px);
  line-height: 1;
  font-weight: 400;
}
.dsp .depth_a .del .tip{
  left: auto;
  right: 0;
  background-color: #1B365B;
  border-radius:  100px 0 0 100px;
}
.depth_a .sel, .depth_c .sel{
  width: 50%;
}
.depth_b{
  position: relative;
  padding-bottom: calc(var(--padding)*30);
}
.depth_b .title, .depth_d .title{
  padding-left: 2%;
  display: inline-block;
  padding-bottom: calc(var(--padding)*3.5);
}
.depth_d .title{
  padding: 0;
  padding-bottom: calc(var(--padding) * 3.5)
}
.dsp .depth_b .title, .dsp .depth_d .title{
  width: 100%;
  text-align: right;
  padding-right: 2%;
}
.depth_b .img_box{
  position: absolute;
  right: 0;
  width: 200%;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: end;
}
.depth_b .img_box img{
  width: 100%;
  max-width: 2900px;
}
.keySwiper{
  max-width: 1200px;
  padding: 0 2%;
  margin: 0 auto;
}
.key_list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  box-sizing: border-box;
}
.key_list li{
  flex: 0 0 auto;
  margin: 0 auto;
  max-width: 250px;
  aspect-ratio: 1 / 1;
  background: #F6F6F6;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1000px;
}
.key_list li .icon{
  width: 25%;
  margin: 0 auto;
  padding-bottom: calc(var(--padding)*1.5);
}
.key_list li .icon img{
  width: 100%;
}
.key_list li .bx_title{
  font-size: clamp(13px, 2vw, 16px);
  line-height: 1.2;
  font-weight: 600;
  padding-bottom: calc(var(--padding)*1);
}
.key_list li .bx_tip{
  font-size: clamp(12px, 2vw, 14px);
  line-height: 1.2;
  font-weight: 400;
  width: 80%;
  margin: 0 auto;
  word-break: keep-all;
}
@media screen and (max-width:1200px){
  .key_list{
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}
@media screen and (max-width:500px){
  .key_list{
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
.depth_c .tip_list li{
  padding: 2px 0;
}
.depth_c .tip_list li::before{
  content: 'ㆍ';
  padding-right: 5px;
}
.inside_swiper{
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: end;
  flex-wrap: wrap;
  gap: 15px;
}

@media screen and (max-width:1500px){
  .inside_swiper{
    max-width: 1200px;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width:1000px){
  .inside_swiper{
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width:500px){
  .inside_swiper{
    grid-template-columns: 1fr;
  }
}
.depth_g{
  padding: 0 2%;
  padding-bottom: calc(var(--padding)*30);
}
.depth_g .title{
  padding: 0 2%;
  text-align: center;
  padding-bottom: calc(var(--padding)*8);
}
.swiper {
  overflow: visible;
}

.depth_g .porer_list{
  max-width: 1700px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media screen and (max-width:1600px){
  .depth_g .porer_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .porerSwiper .swiper-slide{
    width: 30%;
    margin: 0;
  }
}
.porerSwiper .swiper-slide{
  max-width: 300px;
}
@media screen and (max-width:768px){
  .depth_g .porer_list{
    gap: 0px;
    flex-wrap: nowrap;
    justify-content: start;
  }
  .porerSwiper .swiper-slide{
    width: 80%;
    max-width: 300px;
  }
}

.depth_g .porer_list li .img_box img{
  width: 100%;
}
.depth_g .porer_list li .por_icon{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
}
.depth_g .porer_list li .por_title{
  color: white;
  font-size: 24px;
  line-height: 1.3em;
  text-align: center;
  font-weight: 600;
  position: absolute;
  top: 60%;
  left: 50%;
  width: 100%;
  padding: 0 2%;
  transform: translateX(-50%);
}

.inside_swiper li{
  /* max-width: 500px; */
  background-color: #F1F1F1;
  padding: 25px;
  border-radius: 35px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.inside_swiper li .bx_title{
  font-size: 17px;
  font-weight: 600;
  padding-bottom: calc(var(--padding)*.5);
}
.inside_swiper li .bx_tip{
  font-size: 15px;
}
.inside_swiper li .tem{
  background-color: #F1F1F1;
  border-radius: 30px;
  padding: 30px 25px;
}
.depth_e .h2_title{
  font-size: clamp(25px, 4vw, 50px);
  line-height: 1.2;
  font-family: 'Gmarket Sans';
  font-weight: 700;
  padding-bottom: calc(var(--padding)*5);
  width: 100%;
  padding-left: 4%;
  box-sizing: border-box;
}
.step_2{
  padding-top: calc(var(--padding)*15);
}
.step_2 .mid_title{
  position: relative;
  font-size: clamp(20px, 2.5vw, 32px);
  line-height: 1;
  text-align: center;
  width: 100%;
  padding: calc(var(--padding)*3) 0;
  background-color: #3B3B3B;
  color: white;
  font-weight: 300;
}

.depth_null_d{
  display: flex;
  justify-content: space-between;
  gap: 3%;
  padding: 0 2%;
  padding-bottom: calc(var(--padding)*30);
}
.depth_null_d .grap{
  width: 50%;
}
.depth_null_d .grap img{
  width: 100%;
}
.depth_null_d .title{
  width: 50%;
  text-align: right;
}
.depth_null_d .title .h2q{
  border-bottom: 1px solid var(--border);
  margin-bottom: calc(var(--padding) * 3);
}
.depth_null_d .title .h4q em{
  font-weight: 800;
}
.depth_null_e{
  display: flex;
  justify-content: space-between;
  gap: 2%;
  padding: 0 2%;
  padding-bottom: calc(var(--padding)*30);
}
.depth_null_e .h2q{
  border-bottom: 1px solid var(--border);
  margin-bottom: calc(var(--padding) * 3);
}
.depth_null_e .del{
  width: 50%;
}
.depth_null_e .sel{
  width: 50%;
  display: flex;
  gap: 2%;
}
.depth_null_e .sel img{
  width: 100%;
}
.depth_null_e .colur{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.dsp .h2q{
  font-size: clamp(45px, 6vw, 60px) !important;
}
.dsp .h2q span{
  color: #1B365B;
}
@media screen and (max-width:768px){
  .depth_a, .depth_c{
    flex-direction: column;
  }
  .dsp .depth_a, .dsp .depth_c{
    padding-left: 0;
  }
  .depth_a .del, .depth_c .del{
    width: 100%;
  }
  .dsp .depth_a .del, .dsp .depth_c .del{
    order: 1;
  }
  .dsp .depth_a .sel, .dsp .depth_c .sel{
    order: 2;
  }
  .step_2{
    padding-top: calc(var(--padding)*5);
  }
  .depth_a .sel, .depth_c .sel{
    width: 100%;
    padding: 0 2%;
  }
  .depth_a .del .img_box, .depth_c .del .img_box{
    overflow: hidden;
    padding-bottom: calc(var(--padding)*2.5);
  }
  .depth_a .del .tip{
    padding: 10px 8%;
    font-size: clamp(16px, 2vw, 20px);
  }
  .depth_a .h2q, .depth_b .title .h2q, .depth_c .h2q, .depth_d .title .h2q{
    border: none;
    margin-bottom: 0;
  }
  [class^="depth"] .h3q{
    font-size: clamp(22px, 4vw, 30px);
  }
  .depth_a, .depth_c{
    padding-bottom: calc(var(--padding)*20);
  }
  .dsp .depth_a .del .img_box img, .dsp .depth_c .del .img_box img{
    position: relative;
    width: 125%;
    left: -25%;
  }
  .depth_a .del .img_box img, .depth_c .del .img_box img{
    width: 125%;
  }
  .inside_swiper li{
    min-width: auto;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
  }
  .inside_swiper li .bx_tip{
    word-break: keep-all;
  }
  .form_data{
    display: block;
    height: auto;
  }
  .form_data .del{
    /* display: none; */
  }
  .form_data .sel{
    position: relative;
    z-index: 20;
  }
  .form_data .sel form{
    width: 90%;
  }
  .form_data .del .title{
    gap: 0;
    padding-left: 2%;
  }
  .form_data .del .h2_title{
    padding-bottom: 10px;
  }
  .form_data .del .h3q{
    padding-bottom: 5px;
  }
  section, .text, .form_data{
    pointer-events: auto !important; /* ← 반드시 있어야 함 */
  }
  .form_data .del .textq{
    display: none;
  }
  .form_data .del .img_box{
    max-height: 50vh;
    overflow: hidden;
  }
  .form_data .del, .form_data .sel{
    height: auto;
  }
  .form_data .del .img_box img{
    max-width: 200%;
    max-height: 110%;
  }
  .dsp .depth_a .del .img_box, .dsp .depth_c .del .img_box{
    position: relative;
    overflow: hidden;
  }
  .dsp .depth_null_d{
    flex-direction: column;
    gap: 10px;
  }
  .dsp .depth_null_d .grap{
    width: 100%;
    order: 2;
  }
  .dsp .depth_null_d .title{
    width: 100%;
    order: 1;
  }
  .dsp .depth_b .title, .dsp .depth_d .title{
    padding: 0 2%;
    padding-bottom: calc(var(--padding)*3.5);
  }
  .dsp .depth_c .h2q span{
    width: 70%;
    display: inline-block;
  }
  .dsp .depth_null_d .h2q{
    text-align: right;
  }
  .dsp .depth_b .img_box{
    justify-content: start;
    align-items: start;
  }
  .depth_b .title, .depth_d .title{
    padding: 0 2% calc(var(--padding)*3);
  }
  .key_list li .icon{
    padding-bottom: calc(var(--padding)*.5);
  }
  .key_list li .bx_title{
    padding-bottom: calc(var(--padding)*.5);
  }
  .depth_null_e{
    flex-direction: column;
  }
  .depth_null_e .del{
    width: 100%;
    padding-bottom: calc(var(--padding)*5);
  }
  .depth_null_e .h2q{
    border: none;
    margin-bottom: 0;
  }
  .depth_null_e .sel{
    width: 100%;
  }
  .depth_g .porer_list{}
}
@media screen and (max-width:480px){
  .depth_a, .depth_c, .depth_b, .depth_d, .depth_e{
    padding-bottom: calc(var(--padding)*10);
  }
  .step_2 .mid_title{
    font-size: 16px;
  }
}